#navbar{
    background-color: black;
    text-transform: uppercase;
    padding:20px;
}
.rightNav,.leftNav{
    font-size: 16pt;
    padding-right:10px;
    padding-left: 10px;
    color:black;
    text-decoration: none;
    margin:2px;
}
a{
    font-family:'Lato';
    border: 1px solid grey;
    border-radius: 12px;
    background-color:rgb(255, 187, 0);
}
.rightNav{
    float: right;
}